
.div_galeria{
    display: flex;
    flex-direction:row ;

}

.div_galeria_1_size-image{
    width: 350px;
    height: 465px;

}


.div_galeria_2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350pxx;
    grid-gap: 5px;
    
   
}


.div_galeria_2_size-image{
    width: 98%;
    height: 98%;
    object-fit: cover;

}
 

